/*
MOTAŞ'a ait akıllı bisikletlerin kullanımında ücret tarifesi aşağıdaki gibidir.
0-60 dakika  	  2 TL
60-120 dakika     4 TL
120-180 dakika    6 TL
180 dakika ve üzerinde ise 60 dakikada bir 3 TL eklenir.

*/
#include<stdio.h>
main()
{
	int sure,ucret;
	
	printf("Kac dakika suruldu:");
	scanf("%d",&sure);
	
	if(sure>0 and sure<60)
	{
		ucret=2;
	}
	else if (sure>=60 and sure<120)
	{
		ucret=4;
	}
	else if(sure>=120 and sure<180)
	{
		ucret=6;
	}
	else
	{
		ucret=9+((sure-180)/60)*3;
	}
	printf("Ucret %d TL'dir.",ucret);	
}
